<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<package name="com.ifgov.shared" />
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="org.postgresql.Driver" />
				<property name="url" value="jdbc:postgresql://ec2-54-79-39-36.ap-southeast-2.compute.amazonaws.com/ifgovthen" />
				<property name="username" value="postgres" />
				<property name="password" value="v758e0p.L{jJ7tS" />
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="DaoMappers.xml" />
	</mappers>
</configuration>